/.MyAtlProjectDescriptionLabelProvider.java._trace
/.MyAtlProjectDescriptionLabelProvider.xtendbin
/.MyAtlProjectLabelProvider.java._trace
/.MyAtlProjectLabelProvider.xtendbin
/MyAtlProjectDescriptionLabelProvider.java
/MyAtlProjectLabelProvider.java
