<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="atl.resource.atl.mopp.AtlMetaInformation" id="atl.resource.atl.mopp.AtlMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension id="atl.resource.atl.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<super type="org.eclipse.emf.ecore.diagnostic">
		</super>
	</extension>
	
	<extension id="atl.resource.atl.problem.syntax_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="atl.resource.atl.problem">
		</super>
	</extension>
	
	<extension id="atl.resource.atl.problem.print_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="atl.resource.atl.problem">
		</super>
	</extension>
	
	<extension id="atl.resource.atl.problem.unresolved_reference" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="atl.resource.atl.problem">
		</super>
	</extension>
	
	<extension id="atl.resource.atl.problem.analysis_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="atl.resource.atl.problem">
		</super>
	</extension>
	
	<extension id="atl.resource.atl.problem.builder_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="atl.resource.atl.problem">
		</super>
	</extension>
	
	<extension id="atl.resource.atl.nature" name="atl nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="atl.resource.atl.mopp.AtlNature">
			</run>
		</runtime>
		<builder id="atl.resource.atl.builder">
		</builder>
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="atl.resource.atl.builder" name="atl Builder">
		<builder hasNature="true">
			<run class="atl.resource.atl.mopp.AtlBuilderAdapter">
			</run>
		</builder>
	</extension>
	
	<extension-point id="atl.resource.atl.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd">
	</extension-point>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="atl.resource.atl.mopp.AtlResourceFactoryDelegator" type="atl">
		</parser>
	</extension>
	
	<extension-point id="atl.resource.atl.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd">
	</extension-point>
	
	<extension point="org.eclipse.debug.core.breakpoints">
		<breakpoint class="atl.resource.atl.debug.AtlLineBreakpoint" id="atl.resource.atl.debug.breakpoint" markerType="atl.resource.atl.debug.lineBreakpoint.marker" name="atl Breakpoint">
		</breakpoint>
	</extension>
	
	<extension id="atl.resource.atl.debug.lineBreakpoint.marker" point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.debug.core.lineBreakpointMarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<persistent value="true">
		</persistent>
	</extension>
	
	<extension point="org.eclipse.debug.core.launchConfigurationTypes">
		<launchConfigurationType id="atl.resource.atl.ui.launchConfigurationType" delegate="atl.resource.atl.launch.AtlLaunchConfigurationDelegate" modes="run,debug" name="atl Application" sourceLocatorId="atl.resource.atl.ui.sourceLocator" sourcePathComputerId="atl.resource.atl.ui.sourcePathComputer" delegateName="atl Launch Tooling" delegateDescription="This will run or debug .atl files.">
		</launchConfigurationType>
	</extension>
	
	<extension point="org.eclipse.debug.core.sourcePathComputers">
		<sourcePathComputer class="atl.resource.atl.debug.AtlSourcePathComputerDelegate" id="atl.resource.atl.ui.sourcePathComputer">
		</sourcePathComputer>
	</extension>
	
	<extension point="org.eclipse.debug.core.sourceLocators">
		<sourceLocator id="atl.resource.atl.ui.sourceLocator" class="atl.resource.atl.debug.AtlSourceLocator" name="atl Source Locator">
		</sourceLocator>
	</extension>
	
</plugin>
