/.MyAtlProjectRuntimeModule.java._trace
/.MyAtlProjectRuntimeModule.xtendbin
/.MyAtlProjectStandaloneSetup.java._trace
/.MyAtlProjectStandaloneSetup.xtendbin
/MyAtlProjectRuntimeModule.java
/MyAtlProjectStandaloneSetup.java
